<%= form_for(@customer, html: { class: 'p-5' }) do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="form-group">
    <%= f.label 'Company id' %>
    <%= f.text_field :company_id %>
  </div>

  <% if action_name == 'new' %>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <%= f.submit "Submit" %>
<% end %>
