<table>
  <tr>
    <th>Name</th>
    <th>Created at</th>
    <th>Number of customers</th>
    <th>Actions</th>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <th><%= company.name %></th>
      <th><%= company.created_at %></th>
      <th><%= company.customers.size %></th>
      <th><%= link_to 'Edit', { action: :edit, id: company.id } %> | <%= link_to 'Delete', { action: :destroy, id: company.id }, method: :delete, data: { confirm: 'Are you sure?' } %></th> 
    </tr>
  <% end %>
</table>
