<div class="p-2">
  <%= link_to 'Add New Comany', { action: :new }, class: 'btn btn-primary' %>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Created at</th>
    <th>Number of customers</th>
    <th>Actions</th>
  </tr>
  <tbody>
  <% @companies.each do |company| %>
    <tr>
      <th><%= company.name %></th>
      <th><%= company.created_at %></th>
      <th><%= company.customers.size %></th>
      <th><%= link_to 'Edit', { action: :edit, id: company.id } %> | <%= link_to 'Delete', { action: :destroy, id: company.id }, method: :delete, data: { confirm: 'Are you sure?' } %></th> 
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @companies %>
